#contest .left {
  width: 430px;

}

#contest .right {
  width: 550px;
  padding-top: 10px;
}

  #contest #featured-video {
    width: 538px;
  }

  #contest #video-container {
    width: 538px;
    height: 303px;
  }

#widgets img.contest {
  max-width: 180px;
  border-radius: 6px;
  border: solid 6px #555;
  margin-left: 40px;
  margin-top: -6px;
}
