#contest .left {
  width: 550px;

}

#contest .right {
  width: 430px;
}

  #contest #featured-video {
    width: 538px;
  }

  #contest #video-container {
    width: 538px;
    height: 303px;
  }

img.contest {
  max-width: 120px;
  float: right;
  margin-left: 30px;
}

img.shirt {
  max-width: 150px;
  margin-top: 5px;
  margin-left: 15px;
}

#contest-entry iframe {
  position: relative;
  left: -12px;
}
