#main {
  width: 1000px;
  margin: 10px auto;
}

  .row {
    width: 988px;
  }

  .left {
    width: 724px;
  }

  .right {
    width: 246px;
    padding-left: 6px;
  }

    .right p {
      margin-bottom: 9px;
    }

  .row .featured-episode {
    float: left;
    width: 234px;
    padding: 6px;
  }

    .featured-episode a:hover img {
      border: solid 2px #ccc;
    }

    .featured-episode a, .featured-episode a:visited {
      text-decoration: none;
    }

    .row .featured-episode.first { padding-left: 0px; }
    .row .featured-episode.last { padding-right: 0px; }

    .row .featured-episode img {
      width: 230px;
      border: solid 2px #333;
    }

    .row .featured-episode h3, .row .featured-episode h4 {
      text-align: center;
    }

