#main {
  width: 1000px;
  margin: 20px auto 0px;
}

  .row {
    width: 988px;
  }

  .left {
    width: 724px;
  }

  .right {
    width: 246px;
    padding-left: 6px;
  }

    .right h1 {
      text-align: center;
      color: #fff200;
    }

    .right #laurel-carousel {
      width: 240px;
      margin: 10px 0px;
    }

    .right p {
      margin-bottom: 9px;
    }

      .right #watch-trailer-link {
        position: relative;
        top: -15px;
        left: 5px;
      }

.secondary .left {
  float: left;
  width: 482px;
  margin-left: 0px;
}

.secondary .right {
  float: left;
  width: 482px;
}

  .secondary .right img {
    border: solid 2px #333;
  }

  .secondary .right a:hover img {
    border: solid 2px #ccc;
  }

  .secondary p {
    margin-bottom: 18px;
  }
