/** Migrate these to tailgate32.css **/
#navigation {
  height: 29px;
}

#social-media-header {
  margin-top: -3px;
}


/** Styles specific to the home page of tailgate32.com **/

#main {
  color: #f5fffa;
}

  #main a, #main a:visited {
    color: #fff100;
    text-decoration: none;
  }

  #main a:hover {
    text-decoration: underline;
  }

  #main .left {
    width: 616px;
    float: left;
  }

    #video-container {
      border: solid 6px #f5fffa;
      border-radius: 6px;
      width: 600px;
      height: 338px;
    }

    #social-media {
      margin: 5px auto 0;
      padding: 5px;
      width: 600px;
    }

      .fb-like {
        height: 25px;
      }

  #main .right {
    width: 364px;
    margin-left: 20px;
    float: left
  }

    #call-to-action, #widgets {
      border-left: solid 1px #555;
      padding-left: 20px;
    }

    #main .right .widget {
      margin-bottom: 25px;
      color: #929292;
    }

      #main .right .widget .city {
        color: #fff100;
      }


  #featured-press, #other-press {
    margin-bottom: 25px;
    color: #929292;
  }

  .three-column {
    margin-top: 25px;
  }

    .three-column .item {
      width: 190px;
      margin-right: 14px;
      float: left;
    }
        
      .three-column .item img {
        max-width: 170px;
        max-height: 170px;
        border: solid 6px #555;
        border-radius: 6px;
      }

      .three-column .item h3 {
        color: yellow;
        font-size: 16px;
        font-weight: bold;
        font-family: "PT Sans", sans-serif;
        margin-bottom: 0px;
      }

      .three-column .item .description {
        font-style: italic;
        font-size: 12px;
      }









/*** TO BE REMOVED ***/

#secondary {
  background: url("../images/asphalt.jpg");
}

  #secondary .row {
    margin: auto;
    padding: 20px 0px;
  }

  #secondary .left {
    width: 260px;
    float: left;
    background-color: #fff100;
    padding: 10px 0px;
    box-shadow: 4px 4px 20px #ccc inset, -4px -4px 20px #ccc inset;
    border-radius: 6px;
  }

    #secondary .left h2 {
      text-align: center;
    }

    #secondary .left div {
      font-weight: bold;
    }

      #secondary .left div span.date {
        color: #404000;
        text-align: right;
        font-weight: normal;
        font-size: 13px;
        width: 7em;
        display: block;
        float: left;
        padding-right: 5px;
        position: relative;
        top: 2px;
      }

      #secondary .left div span.home {
        font-size: 16px;
        font-weight: bold;
      }

      #secondary .left div span.away {
        color: #404000;
        font-weight: normal;
        font-size: 14px;
        display: none;
      }

    #secondary .left div#print-schedule {
      text-align: center;
      margin-top: 10px;
    }

  #secondary .right {
    width: 720px;
    margin-left: 20px;
    float: left;
  }

    #secondary .right .content-box {
      background-color: #f5fffa;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 4px 4px 20px #666 inset, -4px -4px 20px #666 inset;
      border-radius: 6px;
    }

    #secondary .right .content-box.last {
      margin-bottom: 0;
    }

    #latest-blog .published-on {
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
    }

      .blog-post img {
        float: right;
        margin: 0 0 12px 12px;
      }


  #favorite-photos-container {

  }

    #favorite-photos-container .favorite-photo {
      width: 148px;
      margin: 0px 10px;
      float: left;
    }

      #favorite-photos-container img {
        width: 160px;
        height: 96px;
      }

      #favorite-photos-container .favorite-photo .title {
        font-weight: bold;
      }

      #favorite-photos-container .favorite-photo .shared-by {
        font-size: 12px;
        font-style: italic;
      }
