#episode-details .bands a {
  display: block;
}

#all-videos .item img {
  max-height: 96px;
  max-width: 170px;
}

.fb-like {
  float: left;
  width: 400px;
}

#subscribe {
  float: left;
  width: 200px;
  text-align: right;
  font-size: 11px;
  margin-top: 4px;
  color: #999;
}

  #subscribe a {
    color: #fff;
  }
