/** Press Page **/
  #featured-press, #other-press {
    margin-bottom: 25px;
  }

  #press .left .three-column {
    text-align: center;
  }

  #press .left .three-column .item img {
    width: 209px;
    height: 209px;
  }
