.schedule {
  border: solid 1px #e0e0e0;
}

  .schedule th {
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }

  .schedule td {
    padding: 2px 8px;
    font-size: 14px;
  }

  .schedule td.watch {
    text-align: center;
  }

    .schedule td a {
      font-size: 12px;
    }

  .schedule td.away {
    text-align: right;
    padding-left: 24px;
    padding-right: 0px;
  }

  .schedule td.home {
    padding-left: 0px;
    padding-right: 24px;
  }

  .schedule tr.past td {
    color: #999;
  }

  .schedule tr:hover td {
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
  }
