#featured-event-date {
  font-size: 14px;
  font-style: italic;
  line-height: 1;
}

#featured-event img.map {
  float: right;
  max-width: 200px;
  border-radius: 5px;
}

.fb-comments {
  background-color: #f5fffa !important;
}
