body {
  color: #222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}

h3 {
  margin: 0;
}

.clear {
  clear: both;
}

#menu {
  width: 100%;
  background-color: #FFC;
  padding: 10px 0;
  border-bottom: solid 2px #125a34;
}

  #menu #menu-links {
    width: 500px;
    float: left;
    padding-left: 20px;
  }

  #menu #social-media {
    float: right;
    padding-right: 20px;
  }

#header {
  width: 1050px;
  margin: 0 auto;
}

  #header #logo-container {
    text-align: center;
    margin: 20px 0;

  }

#content {
  width: 100%;
}

.row-wrapper {
  padding: 25px;
  background-color: #E4E4E4;
  border-top: solid 2px #125a34;
  border-bottom: solid 2px #125a34;
}

.row {
  width: 1050px;
  margin: 15px auto 0px auto;
}

  .left-column {
    width: 585px;
    float: left;
    margin-right: 12px;
  }

  .right-column {
    width: 435px;
    float: left;
  }

  .call-out {
    background-color: #FFC;
    border-radius: 20px;
    padding: 7px;
    border: solid 2px #125a34;
  }

#call-to-action img#tshirt {
  float: right;
}

#schedule ul {
  float: left;
  list-style-type: none;
  margin-left: 0px;
  padding: 0 8px 0 0;
}

  #schedule ul li {
    font-weight: bold;
  }

  #schedule ul li span.date {
    font-weight: normal;
    text-align: right;
    width: 4em;
    float: left;
    margin-right: 0.5em;
  }

.post .details {
  font-style: italic;
  font-size: 12px;
  display: block;
}


#footer {
  width: 100%;
  text-align: center;
  background-color: #E4E4E4;
  border-top: solid 2px #125a34;
  padding: 10px 0;
}

  #footer p {
    padding: 0;
    margin: 0;
  }
