<div id="press-promo" class="widget">
  <h1>People Are Talking</h1>
  <dl>
    <dt>If I could step away from this [my job] and do anything, it would be what you guys are doing.</dt>
    <dd>Dave Rothenberg, ESPN NY</dd>

    <dt>A pigskin-powered Jack Kerouac-style adventure in search for the country's best fans, food, and football.</dt>
    <dd>Chris Hrapsky, 12 News, NBC-Phoenix</dd>

    <dt>The guys at Tailgate32 are taking it to another level.</dt>
    <dd>Mike Sando, NFC West Blogger for ESPN</dd>
  </dl>
</div>
