<div id="press-promo" class="widget">
  <h1>People Are Talking</h1>
  <dl>
    <dt>So incredibly cool...and insane!</dt>
    <dd>Bill Leff, WGN Radio</dd>

    <dt>The guys at Tailgate32 are taking it to another level.</dt>
    <dd>Mike Sando, NFC West Blogger for ESPN</dd>

    <dt>Consider it a modern day "On the Road."</dt>
    <dd>Kevin Seifert, NFC North Blogger for ESPN</dd>
  </dl>
</div>
