<div id="recent-episodes" class="widget">
  <h1>Recent Episodes</h1>
  <% episodes[0..1].each do |episode| %>
    <div class="episode">
      <a href="/play/<%= episode.abbr %>">
        <%= image_tag episode.thumbnail_url, :alt => episode.title %>
        <p><%= episode.title %></p>
      </a>
    </div>
  <% end %>
</div>
