<div id="recent-episodes" class="widget">
  <h1>Recent Episodes</h1>
  <% episodes[0..1].each do |episode| %>
    <div class="episode">
      <a href="/play/<%= episode.abbr %>">
        <img src="http://img.youtube.com/vi/<%= episode.video_id %>/maxresdefault.jpg" alt="<%= episode.title %>" />
        <p><%= episode.title %></p>
      </a>
    </div>
  <% end %>
</div>
