<div id="shirt-promo" class="widget">
  <h1>The Official Shirt</h1>
  <a href="http://store.tailgate32.com" target="_blank">
    <%= image_tag "tailgate32-shirt-charcoal-front.png", :alt => "Get the Tailgate32 Shirt" %>
  </a>
</div>
