<div id="upcoming-stops" class="widget">
  <h1>Upcoming Stops</h1>
  <div><span class="city">Green Bay</span> - September 13</div>
  <div><span class="city">Jacksonville</span> - September 16</div>
  <div><span class="city">Atlanta</span> - September 17</div>
  <div><span class="city">Carolina</span> - September 20</div>
  <div><span class="city">Miami</span> - September 23</div>
</div>
