<div id="upcoming-stops" class="widget">
  <h1>Upcoming Stops</h1>
  <% data.upcoming.keys[0..4].each do |key| %>
    <div><%= link_to data.upcoming[key].city, "/upcoming/#{key}" %> - <%= data.upcoming[key].date %></div>
  <% end %>
</div>
