<div id="upcoming-stops" class="widget">
  <h1>Upcoming Stops</h1>
  <% upcoming_events[0..4].each do |event| %>
    <div><%= link_to event.city, "/events/#{event.abbr}" %> - <%= event.date %></div>
  <% end %>
</div>
