<div id="upcoming-stops" class="widget">
  <h1>Upcoming Stops</h1>
  <div><span class="city">New York</span> - September 5</div>
  <div><span class="city">Cleveland</span> - September 9</div>
  <div><span class="city">Baltimore</span> - September 10</div>
  <div><span class="city">Green Bay</span> - September 13</div>
  <div><span class="city">Jacksonville</span> - September 16</div>
</div>
