<div id="where-to-watch" class="widget">
  <h2>Where To Watch</h2>
  <div>
    <%= link_to image_tag('syndicates/blip.png'), 'http://blip.tv/tailgate32', :target => '_blank' %>
    <%= link_to image_tag('syndicates/youtube.png'), 'http://youtube.com/tailgate32', :target => '_blank' %>
  </div>
</div>
