<div class="left">
  <div class="headline">
    <%= image_tag 'arrow-left.png' %>
    <h1>Tailgate32 Haiku Contest</h1>
  </div>
  <p>
    <%= image_tag(@contest.thumbnail_url, :class => 'contest') %>
    Bust out your best haiku telling us what your favorite thing about tailgating is.
    Just include the hashtag #tg32haiku and our twitter handle @tailgate32 in the
    tweet to enter.  We'll pick and share our favorite haikus and one of you will
    win a Tailgate32 Man Crate Supply Drop!
  </p>
  <p>
    You can tweet from the box on the right. Format it just like you see below, press
    "Tweet" and you're good to go.  Reload the page to see your tweet show up in the
    entry list.
  </p>
  <blockquote class="twitter-tweet tw-align-center"><p>test <a href="https://twitter.com/search/%23tg32haiku">#tg32haiku</a></p>&mdash; John Trupiano (@jtrupiano) <a href="https://twitter.com/jtrupiano/status/262317522982952960" data-datetime="2012-10-27T22:19:05+00:00">October 27, 2012</a></blockquote>
</div>
<div class="right">
  <div id="widgets">
    <h1>Haiku Entries</h1>
    <a class="twitter-timeline" data-dnt=true href="https://twitter.com/search?q=%23tg32haiku" data-widget-id="262308207836405760" width="409" height="400">Tweets about "#tg32haiku"</a>
    <%= partial :"promos/contests" %>
  </div>
</div>
<br class="clear" />
