<% @afc_episodes.each do |episode| %>
  <div class="recent-episode">
    <a href="/play/<%= episode.abbr %>">
      <div class="episode-title"><%= episode.title %></div>
      <div class="episode-date"><%= episode.teaser %></div>
    </a>
  </div>
<% end %>
