<%
  while (episodes.size < 5) do
    episodes << Episode.new
  end
%>
<% episodes[1..4].each do |episode| %>
  <div class="recent-episode">
    <a href="/play/<%= episode.abbr %>">
      <div class="episode-number">Episode <%= episode.number %></div>
      <div class="episode-title"><%= episode.title %></div>
      <div class="episode-date"><%= episode.date %></div>
    </a>
  </div>
<% end %>
