<% @nfc_episodes.each do |episode| %>
  <div class="upcoming-episode">
    <a href="/play/<%= episode.abbr %>">
      <div class="upcoming-city"><%= episode.title %></div>
      <div class="upcoming-date"><%= episode.teaser %></div>
    </a>
  </div>
<% end %>
