<div id="main" class="row">
  <div class="left">
    <div class="headline">
      <img src="http://assets.tailgate32.com/images/arrow-left.png" />
      <h1>About Tailgate32</h1>
    </div>
    <p>
      Tailgate32 is a 25,000-mile, cross-country football odyssey in a 42-foot RV.  
      WGN Radio recently described it as 
      "<a href="http://bit.ly/Tailgate32-on-WGN" target="_blank">so incredibly cool...and insane!</a>"
      Led by thrill-seeking brothers John and Mike Trupiano,
      <a href="http://footballnation.com" target="_blank">Football Nation</a>'s 
      Tailgate32 will visit all 32 NFL arenas in just 17 weeks this season, before
      powering on to the playoffs and Super Bowl XLVII in New Orleans.
      The entire trip will be documented by our film crew.  We will release a 
      fast-paced 5-6 minute digital episode following each game that will capture 
      the essence of American tailgating, the nation's passion for football, and 
      life on the road.
    </p>
    <div class="headline">
      <img src="http://assets.tailgate32.com/images/arrow-left.png" />
      <h1>About John and Mike</h1>
    </div>
    <p>
      John, 28, is a lifelong football fan, an entrepreneur and a graduate of Johns 
      Hopkins University with a passion for adventure and feats of football derring-do. 
      He once attended two NFL games on the same day (Bears-Redskins and Colts-Ravens in 
      Week 1 2005) and, channeling his inner Jack Kerouac, once drove 2,700 miles from 
      Baltimore to Los Angeles in 2½ days – only to find that L.A. no longer had an NFL 
      team. John is also a culinary athlete and has completed the McDonald’s Triple Crown 
      – consuming Mickey D’s for breakfast, lunch and dinner. John’s magnificent plumage 
      should be declared a national treasure.  The Detroit Lions and Baltimore Ravens are 
      his favorite NFL teams.
    </p>
    <p>
      Mike, 34, is a graduate of MIT, a hardcore football fan, an avid road tripper and 
      a thrill seeker. His motorcycle trips include the Florida Keys and the various
      parts of the great Midwest, he and logged 200,000 miles on his old 1994 Ford 
      Explorer, much of it on annual sports-stadium road trips.  Mike and his Explorer 
      once spent four hours stuck in a ditch off an Ontario highway and he knew it was
      time to dump the trusty old steed when it began to consume more steering fluid than
      gas. The Detroit Lions and New England Patriots are his favorite NFL teams.
    </p>
    <div class="headline">
      <img src="http://assets.tailgate32.com/images/arrow-left.png" />
      <h1>About Football Nation</h1>
    </div>
    <p>
      Football Nation is the world's only fan democracy, pioneering outspoken, passionate 
      sports journalism with an unmatched commitment to uniting football fans. Football 
      Nation's dynamic and proprietary publishing platform gives voice to the passionate 
      Citizens of Football Nation, a rapidly growing global community of more than 1,500 
      writers and fans. Football Nation provides a daily "all football all the time" 
      assault of cutting edge football content: daily articles, entertaining digital 
      video, TV programming, radio programming, compelling podcasts, engaging viral games, 
      and real-time cutting edge statistics and analysis. Football Nation properties 
      include FootballNation.com, ColdHardFootballFacts.com, FFChamps.com, 
      CollegeFootballGeek.com, and FFSlots.com.
  </div>
  <div class="right">
    <div id="widgets">
      <%= partial "promos/press" %>
      <%= partial "promos/episodes" %>
    </div>
  </div>
  <br class="clear" />
</div>
