<% content_for(:title) { "Tailgate32 Behind the Scenes Archive" } %>
<% content_for(:description) { "Watch all behind the scenes content of the web series Tailgate32 and Revved Up." } %>
<% content_for(:og_meta) do %>

  <meta name="twitter:card"       content="summary"

  <meta property="og:title"       content="Tailgate32 Behind the Scenes Archive" />
  <meta property="og:type"        content="video.tv_show" />
  <meta property="og:image"         content="http://tailgate32.com/images/itunes-series-graphic.jpg" />
  <meta property="og:description"   content="Watch all behind the scenes footage of the web series Tailgate32: The Ultimate Football Fan Roadtrip" />
  <meta property="video:tag"        content="web series" />
  <meta property="video:tag"        content="sports" />
  <meta property="video:tag"        content="documentary" />
  <meta property="og:url"           content="http://tailgate32.com/bsides" />
<% end %>

<div id="play" class="row">
  <div class="left">
    <%= partial :bside_archive %>
  </div>
  <div class="right">
    <div id="widgets">
      <h2>About B-Sides</h2>
      <p>
        B-Sides are a combination of behind the scenes material from Tailgate32 and Revved
        Up and a little bit of just Mike and John goofing around.  From scoping out
        the dive bar scene in Austin to an ode to shots, shots and more shots, to a
        weary and delirious Christmas celebration on the RV, you'll get a glimpse
        of a silly side of the guys.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>
