<div id="main" class="row">
  <div class="left">
    <div id="featured-press">
      <div class="headline">
        <img src="http://assets.tailgate32.com/images/arrow-left.png" alt="" />
        <h1>Featured Press</h1>
      </div>
      <div class="three-column">
        <div class="item">
          <a href="http://bit.ly/Tailgate32-Inside-Slant" target="_blank"><img src="images/espn-inside-slant.jpg" /></a>
          <h3>ESPN Inside Slant</h3>
          <span class="description">August 22, 2012</span>
        </div>
        <div class="item">
          <a href="http://bit.ly/Tailgate32-on-WGN" target="_blank"><img src="images/wgn-radio-720.png" /></a>
          <h3>WGN Radio's Bill Leff</h3>
          <span class="description">July 31, 2012</span>
        </div>
        <div class="item">
          <a href="http://www.youtube.com/watch?v=yt9RVeYuStY&feature=plcp" target="_blank"><img src="images/espn-chicago.jpg" /></a>
          <h3>Carmen, Jurko & Harry</h3>
          <span class="description">August 3, 2012</span>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div id="other-press">
      <div class="headline">
        <img src="http://assets.tailgate32.com/images/arrow-left.png" alt="" />
        <h1>Other Press</h1>
      </div>
      <div><a target="_blank" href="http://www.leatherheadsofthegridiron.com/?p=3827">Road Trip</a> - Leatherheads of the Gridiron - August 3, 2012</div>
      <div><a target="_blank" href="http://gmenhq.com/2012/08/19/tailgate32-making-final-preparations-for-giants-opener/">Tailgate32 Making Final Preparations For Giants Opener</a> - GMEN HQ - August 19, 2012</div>
      <div><a target="_blank" href="http://bmorechix.com/2012/07/11/32-nfl-tailgates-in-17-weeks-tailgate32s-ultimate-football-fan-roadtrip/">32 NFL Tailgates in 17 Weeks</a> - B'more Chix - July 11, 2012</div>
    </div>
  </div>
  <div class="right">
    <div id="widgets">
      <%= partial "promos/upcoming" %>
      <%= partial "promos/shirt" %>
    </div>
  </div>
  <br class="clear" />
</div>
