<% content_for(:title) { "Tailgate32: Press Coverage" } %>
<% content_for(:description) { "Media appearances for the Tailgate32 documentary team.  Find podcasts, videos, print and online articles written by media organizations." } %>
<% content_for(:stylesheets) { stylesheet_link_tag(:episodes) } %>
<% content_for(:stylesheets) { stylesheet_link_tag(:press) } %>

<div id="press" class="row">
  <div id="featured-press">
    <h1>Featured Press</h1>
    <div class="four-column">
      <div class="item">
        <a target="_blank" href="http://bit.ly/tailgate32-on-dave-rothenberg-show-espn-ny-98-7"><img src="images/press/dave-rothenberg-show.jpg" /></a>
        <h3>ESPN New York's<br />Dave Rothenberg Show</h3>
        <h4>September 4, 2012</h4>
      </div>
      <div class="item">
        <a target="_blank" href="http://bit.ly/tailgate32-on-lets-talk-live"><img src="images/press/abc7.png" /></a>
        <h3>WJLA ABC7's<br />Let's Talk Live</h3>
        <h4>December 3, 2012</h4>
      </div>
      <div class="item">
        <a href="http://bit.ly/Tailgate32-Inside-Slant" target="_blank"><img src="images/press/espn-inside-slant.jpg" /></a>
        <h3>ESPN.com's<br />Inside Slant Podcast</h3>
        <h4>August 22, 2012</h4>
      </div>
      <div class="item">
        <a href="http://bit.ly/Tailgate32-on-WGN" target="_blank"><img src="images/press/wgn-radio-720.png" /></a>
        <h3>WGN Radio's<br />Bill Leff Show</h3>
        <h4>July 31, 2012</h4>
      </div>
      <br class="clear" />
    </div>
    <div class="four-column">
      <div class="item">
        <a target="_blank" href="http://bit.ly/tailgate32-in-si-com-extra-mustard"><img src="images/press/si-com.png" /></a>
        <h3>SportsIllustrated.com's Extra Mustard</h3>
        <h4>September 6, 2012</h4>
      </div>
      <div class="item">
        <a target="_blank" href="http://bit.ly/tailgate32-on-fstoppers"><img src="images/press/fstoppers.jpg" /></a>
        <h3>Fstoppers<br />Film Magazine</h3>
        <h4>March 15, 2013</h4>
      </div>
      <div class="item">
        <a target="_blank" href="http://bit.ly/tailgate32-on-woody-and-wilcox-show"><img src="images/press/woody-and-wilcox.png" /></a>
        <h3>AM1065's<br />Woody and Wilcox Show</h3>
        <h4>September 20, 2012</h4>
      </div>
      <div class="item">
        <a target="_blank" href="http://bit.ly/revved-up-on-snobby-robot"><img src="images/press/snobby-robot.png" /></a>
        <h3>Snobby Robot's<br />#WebSeriesWednesday</h3>
        <h4>August 28, 2013</h4>
      </div>
      <br class="clear" />
    </div>
  </div>
  <div id="other-press">
    <h2>Other Press</h2>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-tangled-web-we-watch">Erin Stegeman Interviews Successful Reality Web Series Creator John Trupiano about his series Tailgate32</a> - The Tangled Web We Watch - July 29, 2013</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-blayze-web-series-to-watch">The Ultimate Football Fan Roadtrip</a> - Blayze's Web Series To Watch - July 13, 2013</div>
    <div><a target="_blank" href="http://bit.ly/revved-up-on-blayze">Get Revved Up for New NASCAR-Themed Series</a> - Blayze - July 9, 2013</div>
    <div><a target="_blank" href="http://bit.ly/revved-up-on-new-media-rockstars">Blip's 'REVVED UP' Web Series Explores the World of NASCAR Racing's Die-hard Fans</a> - New Media Rockstars - July 9, 2013</div>
    <div><a target="_blank" href="http://bit.ly/revved-up-on-video-ink">Blip and Kingsford Get 'Revved Up' for NASCAR-Themed Series</a> - VideoInk - July 9, 2013</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-snobby-robot">Tailgate32 on #WebSeriesWednesday</a> - The Snobby Robot - June 13, 2013</div>
    <div><a target="_blank" href="http://bit.ly/season-wrapup-bill-leff">Possibly The Bests Road Trip Ever</a> - Bill Leff Show - WGN Radio - February 21, 2013</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-in-detroit-news">Shelby Twp. brothers' ultimate road trip rolls into Ford Field</a> - Detroit News - November 22, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-click-on-detroit">Ultimate Tailgaters head to Detroit for Lions game</a> - Click on Detroit (WDIV Channel 4) - November 21, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-in-macomb-daily">Brothers' odyssey takes them to every NFL stadium</a> - Macomb Daily - November 20, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-WGN-2">2 Brothers, 1 RV, 32 NFL Home Games</a> - WGN Radio - November 8, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-chargers-dot-com">Tailgating with the Chargers</a> - Chargers.com - October 31, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-with-mike-sando-in-san-fran">Candlestick tailgaters have it made in shade</a> - Mike Sando, ESPN NFC West Blog - October 18, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-az-12news">The Ultimate Tailgate</a> - AZ 12 News - October 16, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-espn-nfcwest-blog-for-st-louis">Nothing like a one-pound BLT on game day</a> - Mike Sando, ESPN NFC West Blog - October 11, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-fox2now-st-louis">Traveling Tailgaters Visit St. Louis</a> - Fox2 Now - October 4, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-in-miami-sun-sentinel">32 tailgates in 17 weeks: Every dude's dream</a> - Miami Sun Sentinel - September 23, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-bill-michaels-show">Tailgate32 Producer John Trupiano on the Bill Michaels Show</a> - Bill Michaels Show - September 20, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-in-miami-sun-times">Tailgate32 Web Series to Chronicle Miami Dolphins Fans' Pregame Festivities</a> - Miami Sun Times - September 20, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-nbc26-green-bay">Packers Tailgaters in Documentary</a> - NBC26 Green Bay - September 13, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-wknr-3-deep">Tailgate32 on WKNR's 3 Deep</a> - ESPN Cleveland 850AM - September 6, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-wpix-ny">Tailgating Brothers Ready For NFL Season Kickoff</a> - WPIX-NY - September 5, 2012</div>
    <div><a target="_blank" href="http://bit.ly/tailgate32-on-wcbs-nyc-880">Brothers Starting NFL-Wide Tailgate Crusade At Giants Season Opener</a> - WCBS NY - September 4, 2012</div>
    <div><a target="_blank" href="http://www.youtube.com/watch?v=yt9RVeYuStY&feature=plcp">Carmen, Jurko and Harry</a> - ESPN 1000 Chicago - August 3, 2012</div>
    <div><a target="_blank" href="http://www.leatherheadsofthegridiron.com/?p=3827">Road Trip</a> - Leatherheads of the Gridiron - August 3, 2012</div>
    <div><a target="_blank" href="http://bmorechix.com/2012/07/11/32-nfl-tailgates-in-17-weeks-tailgate32s-ultimate-football-fan-roadtrip/">32 NFL Tailgates in 17 Weeks</a> - B'more Chix - July 11, 2012</div>
  </div>
</div>
