<% content_for(:title) { "Tailgate32: Press Coverage" } %>
<% content_for(:description) { "Media appearances for the Tailgate32 documentary team.  Find podcasts, videos, print and online articles written by media organizations." } %>
<% content_for(:stylesheets) { stylesheet_link_tag(:press) } %>

<div id="press" class="row">
  <div class="left">
    <div id="featured-press">
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h1>Featured Press</h1>
      </div>
      <div class="three-column">
        <div class="item">
          <a target="_blank" href="http://bit.ly/tailgate32-on-dave-rothenberg-show-espn-ny-98-7"><img src="images/dave-rothenberg-show.jpg" /></a>
          <h3>ESPN NY's Dave Rothenberg</h3>
          <span class="description">September 4, 2012</span>
        </div>
        <div class="item">
          <a href="http://bit.ly/Tailgate32-Inside-Slant" target="_blank"><img src="images/espn-inside-slant.jpg" /></a>
          <h3>ESPN Inside Slant</h3>
          <span class="description">August 22, 2012</span>
        </div>
        <div class="item">
          <a href="http://bit.ly/Tailgate32-on-WGN" target="_blank"><img src="images/wgn-radio-720.png" /></a>
          <h3>WGN Radio's Bill Leff</h3>
          <span class="description">July 31, 2012</span>
        </div>
        <br class="clear" />
      </div>
    </div>
    <div id="other-press">
      <div class="headline">
        <%= image_tag 'arrow-left.png' %>
        <h1>Other Press</h1>
      </div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-az-12news">The Ultimate Tailgate</a> - AZ 12 News - October 16, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-espn-nfcwest-blog-for-st-louis">Nothing like a one-pound BLT on game day</a> - Mike Sando, ESPN NFC West Blog - October 11, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-fox2now-st-louis">Traveling Tailgaters Visit St. Louis</a> - Fox2 Now - October 4, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-in-miami-sun-sentinel">32 tailgates in 17 weeks: Every dude's dream</a> - Miami Sun Sentinel - September 23, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-bill-michaels-show">Tailgate32 Producer John Trupiano on the Bill Michaels Show</a> - Bill Michaels Show - September 20, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-woody-and-wilcox-show">Tailgate32 In The Studio</a> - Woody and Wilcox Show, AM1065 in Charlotte - September 20, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-in-miami-sun-times">Tailgate32 Web Series to Chronicle Miami Dolphins Fans' Pregame Festivities</a> - Miami Sun Times - September 20, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-nbc26-green-bay">Packers Tailgaters in Documentary</a> - NBC26 Green Bay - September 13, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-wknr-3-deep">Tailgate32 on WKNR's 3 Deep</a> - ESPN Cleveland 850AM - September 6, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-in-si-com-extra-mustard">Tailgate32 Featured in SI.com's Extra Mustard</a> - SportsIllustrated.com - September 6, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-wpix-ny">Tailgating Brothers Ready For NFL Season Kickoff</a> - WPIX-NY - September 5, 2012</div>
      <div><a target="_blank" href="http://bit.ly/tailgate32-on-wcbs-nyc-880">Brothers Starting NFL-Wide Tailgate Crusade At Giants Season Opener</a> - WCBS NY - September 4, 2012</div>
      <div><a target="_blank" href="http://www.youtube.com/watch?v=yt9RVeYuStY&feature=plcp">Carmen, Jurko and Harry</a> - ESPN 1000 Chicago - August 3, 2012</div>
      <div><a target="_blank" href="http://www.leatherheadsofthegridiron.com/?p=3827">Road Trip</a> - Leatherheads of the Gridiron - August 3, 2012</div>
      <div><a target="_blank" href="http://bmorechix.com/2012/07/11/32-nfl-tailgates-in-17-weeks-tailgate32s-ultimate-football-fan-roadtrip/">32 NFL Tailgates in 17 Weeks</a> - B'more Chix - July 11, 2012</div>
    </div>
  </div>
  <div class="right">
    <div id="widgets">
      <%= partial "promos/upcoming" %>
      <%= partial "promos/recent-episodes" %>
    </div>
  </div>
  <br class="clear" />
</div>
